* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

tbody {
  padding: 10px;
}
td {
  padding: 5px 10px;
}
button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}
.row:nth-child(even) {
  background-color: whitesmoke;
}
thead {
  background-color: whitesmoke;
}
.read {
  border-radius: 35%;
  background-color: rgb(59, 208, 238);
}

.update {
  background-color: rgb(244, 191, 93);
}
.delete {
  background-color: rgb(205, 53, 53);
}
.modal {
  position: relative;
  background-color: rgb(208, 116, 116);
  height: 50 vh;
  width: 30 vh;
}
.close-btn {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  position: absolute;
  width: 5px;
  height: 5px;
  padding: 10px;

  top: 0;
  right: 0;
}
img {
  height: 150px;
}
.book-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
